.mainStyle {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.webTitle {
    font-size: 40px;
    padding: 40px;
}

.bandName {
    text-transform: uppercase;
    color: #edd626;
    padding: 20px;
}

.albumBox {
    padding-bottom: 40px;
}

.imgStyle {
    height: 350px;
    width: 350px;
}

.cdName {
    font-size: 30px;
}

.label {
    font-size: 24px;
}